@font-face {
    font-family: fredoka;
    src: url(fonts/DVN-Fredoka-Bold.ttf) format(truetype);
}

html {
    width: 100%;
    height: 115%;
    background: linear-gradient(325deg, #e0e8e9, #d8dff7, #c1cdf3 100%);
    font-family: fredoka;
}

.msg {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #282A3A;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 1px 1px 15px 2px rgb(111, 111, 111);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.msg.show {
    display: block;
    opacity: 1;
}

.msg.fade-out {
    opacity: 0;
}

.msg p {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;


    font-size: 30px;
    color: white;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.footer {
    padding-top: 10px;
}

.footer a {
    text-decoration: none;
    color: #FDF8E6;
    font-size: 16px;
}


button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
    box-shadow: 5px 3px 15px 1px darkblue;
    transition: all 0.5s;
}

.myBTN {
    background: #ffffff;
    color: #f5ebeb;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
    box-shadow: 5px 3px 15px 1px darkblue;
    transition: all 0.5s;
}

button:hover {
    color: #ffffff85;
    background-color: #3e415a;
}

button.lock {
    pointer-events: none;
    background-color: #4d4c4c;
}

.disabled {
    color: #757575;
}

.stats {
    color: #ffffff;
    font-size: 18pt;
    border: 4px dotted floralwhite;
    padding: 10px;
    width: 100%;
    box-shadow: 5px 3px 15px 1px rgb(20, 20, 110);
    border-radius: 7px;
}

.moves .stats,
.timer {
    color: #ffffff;
}

.controls {
    margin-right: 10px;
}

.board-container {
    position: relative;
}

.board,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgba(33 33 33 / 25%);
    background: linear-gradient(#f5f4eff6, #f7f8eee3);
    transition: transform .6s cubic-bezier(0.4, 0, 0, 0.2, 1);
    backface-visibility: hidden;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #3a3328;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #6f00fc;
}

@media (max-width: 700px) {

    .board-container {
        width: 370px;
    }

    .card {
        position: relative;
        width: 70px;
        height: 70px;
        cursor: pointer;
    }


    .card-back {
        transform: rotateY(180deg) rotateZ(50deg);
        font-size: 20pt;
        user-select: none;
        text-align: center;
        line-height: 70px;
        background: #FDF8E6;
    }





}