* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg #eaf6ff,
            #f4fbff,
            #e5f7f4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #193952;
}

.home-card {
    width: 100%;
    max-width: 850px;
    background: rgba(255, 255, 255, 0, 95);
    padding: 60px 55px;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0 15px 45px rgba(48, 103, 133, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.9);
    animation: appear 0.8s ease;
}

.home-card h1 {
    font-size: 34px;
    margin-bottom: 25px;
    color: #076786;
    line-height: 1.6;
}

.home-card p {
    font-size: 21px;
    line-height: 1.9;
    color: #34373a;
    text-align: justify;
}

.home-card a {
    display: inline-block;
    margin: 15px 0 25px;
    text-decoration: none;
}

.home-card .startbtn {
    background-color: transparent;
    color: rgb(45, 49, 46);
    border: none;
    border-radius: 35px;
    padding: 17px 42px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 8px 20px rgb(90, 109, 108);
    transition: all 0.3s ease;
}

.home-card .startbtn:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(58, 205, 228, 0.877);
}

.home-card .startbtn:active {
    transform: scale(0.97);
}

.home-card p:last-child {
    background: whitesmoke;
    border-left: 4px solid #d0d8daf6;
    padding: 18px 22px;
    border-radius: 12px;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

.home-card .gamebtn {
    background-color: transparent;
    color: rgb(45, 49, 46);
    border: none;
    border-radius: 35px;
    padding: 17px 42px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 8px 20px rgb(90, 109, 108);
    transition: all 0.3s ease;
}

.home-card .gamebtn:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(58, 205, 228, 0.877);
}

.home-card .gamebtn:active {
    transform: scale(0.97);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 0;
        transform: translate(20px);
    }
}

@media (max-width: 600px) {

    .home-card {
        width: 92%;
        margin: 25px auto;
    }

    .home-card h1 {
        font-size: 27px;
    }

    .home-card {
        padding: 20px;
        border-radius: 19px;
    }

    .home-card p {
        font-size: 15px;
    }

    .home-card button {
        width: 100%;
        box-sizing: border-box;
    }

}

.home-card p a {
    display: inline;
    line-height: inherit;
}